# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store


# Dataset files
Data/datasets/wiktionary_heb/processed/words_by_length
Data/datasets/wiktionary_heb/processed/bitmaps
